
#hero, #projects, #about{
    width:100%;
    min-height:100vh;
    padding:0%;
    margin:0;
  
  }
  body {
   
    margin: 0;
    box-sizing:border-box;
    font-family: 'Pangolin', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
#project-container{
  margin-bottom:100px;
  border:2px solid;
  border-image-source: url('./images/Pencil_Border.png');
  border-image-slice:2 2 2 2;

  border-image-repeat:repeat repeat;
}

nav {
  border-bottom:2px solid;
  border-image-source: url('./images/Pencil_Border.png');
  border-image-slice:2 2 2 2;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:repeat repeat;
}
#projects figure img{

  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;

}



#toolkit img{

  padding:5%;
  margin:1%;
 

}
