@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

//Changing Bootstrap variables.
$primary: #7A9CC6;
$secondary:#B3D2B2 ;
$light: #FFFd98;
$info:#BDE4A7;

@import '~bootstrap/scss/bootstrap.scss';


@media(min-width:1400px){
  :root{
  font-size:1.5vw;
  }
  #project-container{
    display:flex;
  }
  #project-info{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
}
@media(min-width:1000px) and (max-width:1400px){
  :root{
  font-size:2vw;
  }

  #project-info{
    display:block;
    width:100%;
  }
  #project-container{
    display:block;
  }
}
  
@media(max-width:1000px){
  :root{
  font-size:2.5vw;
  }

}

//General Styling

//Component Styling
#hero, #projects, #about{
  width:100%;
  min-height:100vh;
  padding:0%;
  margin:0;

}
body {
  margin: 0;
  box-sizing:border-box;
  font-family: 'Pangolin', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Project Section

#project-container{
  margin-bottom:100px;
}
#projects figure img{

  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;

}

//Toolkit and About Me Section
#toolkit img{

  padding:5%;
  margin:1%;
  background:#BDE4A7;
  border-radius:50%;

}

